body{
    
    font-family: 'Source Sans Pro',sans-serif;
    
    
}

form{
    font-family: 'Source Sans Pro',sans-serif;
}

.navbar-brand{
    /*font-size: 22px;*/
    
}

#about{
    padding-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    display: block;
}

h2{
    text-align: center;
    font-family: 'Vibur', cursive;
}
.center-block{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.col-lg-6{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#resume{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* NAV BAR ====================*/
.navbar-default{
    background-color: #ffffff;
    border: none;
    color: #101115;
    
    padding: 5px;
    margin-bottom: 0px !important;
}

.navbar-default img{
    height: 50px;
}

.navbar-default li{
    color: #000000;
}

.navbar-brand{
    color: #000000;
    font-family: 'Vibur', cursive;
}

/* END NAV BAR ====================*/

/* RESUME TOGGLES ====================*/
#flip, #flip2, #flip3{
    background-color: ;
}
#flip, #flip2, #flip3{
    padding: 5px;
    text-align: center;
    background-color: ;
    border: solid .5px ;
}

#panel, #panel2, #panel3{
    padding: 25px;
    display: none;
    border: solid .5px;
}

#resume{
    display: block;
    margin: auto;
    padding-top: 1em;
    padding-bottom: 3em;
}

#form{
    padding-top: 1em;
    padding-bottom: 3em;
}
